.menu {
  width: 20%;
  height: 100vh;
  background-color: rgba(148, 148, 148, 0.411);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usuario {
  width: 130px;
  height: 130px;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}
.informacion-usuario {
  height: 60px;
  display: flex;
  flex-direction: column;
}
.informacion-usuario label {
  font-size: 15px;
}

/* button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: rgb(230, 228, 228);
} */

button {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}

.button_cerrar_sesion {
  width: 115px;
  margin-top: 300px;
  background-color: #fd2b2b;
}

.button_cerrar_sesion:hover {
    background-color: #fd2b2bad;
}

button:hover {
  background-color: #ffffffb2;
}

.label_text {
  margin-top: 5px;
}